body {
  font-family: 'Montserrat', Courier, monospace;
}

.input {
  width: 488px;
  display: flex;
  position: relative;
  border: 2px solid #d7d7d7;
  padding: 14px;
  border-radius: 4px;
  background-color: #fff;
  color: #616161;
  font-size: 16px;
  font-weight: 400;
}

.input__label {
  color: #9b9b9b;
  cursor: text;
  transition-duration: 250ms;
}

.input__inputField {
  position: absolute;
  left: 35px;
  background-color: transparent;
  border: none;
  outline: none;
}

.input__inputField:focus + .input__label,
.input__inputField:not(:placeholder-shown) + .input__label {
  background-color: #fff;
  transform: translateY(-24px) translateX(10px) scale(0.85);
}

.input__inputField:disabled {
  cursor: default;
  background: #e7e5e5;
}

.input__prefix {
  height: 16px;
  margin-right: 10px;
}

.input__error {
  left: 0px;
  top: 45px;
  position: absolute;
  color: #ff8b8b;
}

.input__warning {
  left: 0px;
  top: 45px;
  position: absolute;
  color: #ffab40;
}
