{
    "extends": [
        "react-app",
        "prettier"
    ],
    "rules": {
        "jsx-quotes": [
            1,
            "prefer-double"
        ]
    },
        "env": {
        "browser": true,//по
        "es6": true,
        "node": true
    },
    "plugins": [
        "prettier"
    ]
}